@each $key, $val in $images-style {
    .img-#{$key} {
        border-radius: $val;
    }
}

.img-responcive {
    max-width: map-get($images-responsible, "pref-w");
    height: map-get($images-responsible, "pref-h");
}

.img-blur {
    filter : blur(6px);
}