$utils: (
    "padding" : ("prefix" : 'p',
        "values" : ("0" : 0,
            "1" : $base-padding,
            "2" : $base-padding * 2,
            "3" : $base-padding * 4,
            "4" : $base-padding * 6,
            "5" : $base-padding * 8,
            "auto-left-right" : 0 auto,
            "auto-top-bottom" : auto 0,
        ),
    ),
    "padding-left" : ("prefix" : 'pl',
        "values" : ("0" : 0,
            "1" : $base-padding,
            "2" : $base-padding * 2,
            "3" : $base-padding * 4,
            "4" : $base-padding * 6,
            "5" : $base-padding * 8,
        ),
    ),
    "padding-right" : ("prefix" : 'pr',
        "values" : ("0" : 0,
            "1" : $base-padding,
            "2" : $base-padding * 2,
            "3" : $base-padding * 4,
            "4" : $base-padding * 6,
            "5" : $base-padding * 8,
        ),
    ),
    "padding-top" : ("prefix" : 'pt',
        "values" : ("0" : 0,
            "1" : $base-padding,
            "2" : $base-padding * 2,
            "3" : $base-padding * 4,
            "4" : $base-padding * 6,
            "5" : $base-padding * 8,
        ),
    ),
    "padding-bottom" : ("prefix" : 'pb',
        "values" : ("0" : 0,
            "1" : $base-padding,
            "2" : $base-padding * 2,
            "3" : $base-padding * 4,
            "4" : $base-padding * 6,
            "5" : $base-padding * 8,
        ),
    ),
    "margin" : ("prefix" : 'm',
        "values" : ("0" : 0,
            "1" : $base-margin,
            "2" : $base-margin * 2,
            "3" : $base-margin * 4,
            "4" : $base-margin * 6,
            "5" : $base-margin * 8,
            "6" : $base-margin * 10,
            "7" : $base-margin * 12,
            "8" : $base-margin * 14,
            "9" : $base-margin * 16,
            "10" : $base-margin * 18,
            "n-1_58" : -1.58rem,
            "auto-left-right" : 0 auto,
            "auto-top-bottom" : auto 0,
            "auto-right" : auto 0 auto auto,
            "auto-left" : auto auto auto 0,
        ),
    ),
    "margin-left" : ("prefix" : 'ml',
        "values" : ("0" : 0,
            "1" : $base-margin,
            "2" : $base-margin * 2,
            "3" : $base-margin * 4,
            "4" : $base-margin * 6,
            "5" : $base-margin * 8,
            "6" : $base-margin * 10,
            "7" : $base-margin * 12,
            "8" : $base-margin * 14,
            "9" : $base-margin * 16,
            "10" : $base-margin * 18,
            "n-1_58" : -1.58rem,
        ),
    ),
    "margin-right" : ("prefix" : 'mr',
        "values" : ("0" : 0,
            "1" : $base-margin,
            "2" : $base-margin * 2,
            "3" : $base-margin * 4,
            "4" : $base-margin * 6,
            "5" : $base-margin * 8,
            "6" : $base-margin * 10,
            "7" : $base-margin * 12,
            "8" : $base-margin * 14,
            "9" : $base-margin * 16,
            "10" : $base-margin * 18,
            "n-1_58" : -1.58rem,
        ),
    ),
    "margin-top" : ("prefix" : 'mt',
        "values" : ("0" : 0,
            "1" : $base-margin,
            "2" : $base-margin * 2,
            "3" : $base-margin * 4,
            "4" : $base-margin * 6,
            "5" : $base-margin * 8,
            "6" : $base-margin * 10,
            "7" : $base-margin * 12,
            "8" : $base-margin * 14,
            "9" : $base-margin * 16,
            "10" : $base-margin * 18,
            "n-1_58" : -1.58rem,
        ),
    ),
    "margin-bottom" : ("prefix" : 'mb',
        "values" : ("0" : 0,
            "1" : $base-margin,
            "2" : $base-margin * 2,
            "3" : $base-margin * 4,
            "4" : $base-margin * 6,
            "5" : $base-margin * 8,
            "6" : $base-margin * 10,
            "7" : $base-margin * 12,
            "8" : $base-margin * 14,
            "9" : $base-margin * 16,
            "10" : $base-margin * 18,
            "n-1_58" : -1.58rem,
        ),
    ),
    "line-height" : ("prefix" : 'lh',
        "values" : ("0" : 0,
            "1" : $base-line-height,
            "2" : $base-line-height * 2,
            "3" : $base-line-height * 4,
            "4" : $base-line-height * 6,
            "5" : $base-line-height * 8,
            "6" : $base-line-height * 10,
            "7" : $base-line-height * 12,
            "8" : $base-line-height * 14,
            "9" : $base-line-height * 16,
            "10" : $base-line-height * 18,
        ),
    ),
    "opacity" : ("prefix" : 'o',
        "values" : ("0" : 0,
            "1" : 0.1,
            "2" : 0.2,
            "3" : 0.3,
            "4" : 0.4,
            "5" : 0.5,
            "6" : 0.6,
            "7" : 0.7,
            "8" : 0.8,
            "9" : 0.9,
            "10" : 1,
        ),
    ),
    "border-radius" : ("prefix" : 'br',
        "values" : ("defalut" : $base-border-radius,
            "none" : 0,
            "xs" : $base-border-radius * 0.25,
            "sm" : $base-border-radius * 0.50,
            "md" : $base-border-radius * 0.75,
            "lg" : $base-border-radius * 2,
            "full" : 50%,
        ),
    ),
    "border" : ("prefix" : 'b',
        "values" : ("1" : 1px solid black,
            "2" : 2px solid black),
    ),
    "font-size" : ("prefix" : 'font',
        "values" : ("default" : $base-font-size,
            "sm" : $sm-font-size,
            "smmd" : $smmd-font-size,
            "md" : $md-font-size,
            "lg" : $lg-font-size,
            "xl" : $xl-font-size,
            "xxl" : $xxl-font-size,
        ),
    ),
    "display" : ("prefix" : 'display',
        "values" : ("n" : none,
            "f" : flex,
            "i" : inline,
            "b" : block,
            "ib" : inline-block,
        ),
    ),
    "flex-direction" : ("prefix" : 'fd',
        "values" : ("c" : column,
            "r" : row,
        ),
    ),
    "text-align" : ("prefix" : 'ta',
        "values" : ("c" : center,
            "r" : right,
            "l" : left,
            "j" : justify,
        ),
    ),
    "align-items" : ("prefix" : 'align',
        "values" : ("center" : center,
            "end" : end,
            "f-end" : flex-end,
            "start" : start,
            "f-start" : flex-start,
        ),
    ),
    "justify-content" : ("prefix" : 'justify',
        "values" : ("c" : center,
            "sa" : space-around,
            "se" : space-evenly,
            "sb" : space-between,
            "fe" : flex-end,
            "fs" : flex-start,
        ),
    ),
    "width" : ("prefix" : 'width',
        "values" : ("xs" : 10%,
            "sm" : 20%,
            "md" : 40%,
            "lg" : 60%,
            "xl" : 80%,
            "max" : 100%,
            "mac" : max-content,
            "mic" : min-content,
        ),
    ),
    "position" : ("prefix" : 'po',
        "values" : ("static" : static,
            "ab" : absolute,
        ),
    ),
    "cursor" : ("prefix" : 'cr',
        "values" : ("nn" : none,
            "pt" : pointer,
        ),
    ),
);

@each $prop,
$map in $utils {
    $prefix: map-get($map, "prefix");
    $values: map-get($map, "values");

    @each $k,
    $v in $values {
        @if ($k =="default") {
            .#{$prefix} {
                #{$prop}: $v
            }
        }

        @else {
            .#{$prefix}-#{$k} {
                #{$prop}: $v
            }
        }
    }
}