.modal {
    position: absolute;
    display: none;
    z-index: 1;

    span {
        cursor: pointer;
    }

    &-content {
        background-color: #ffffff;
        border: 1px solid #cccccc;
        padding: 10px;
        box-shadow: $base-box-shadow;
        max-width: 360px;
    }
}
